.response-viewer {
  margin-top: 20px;

  .status-line {
    margin-bottom: 20px;
    font-size: 1.2em;
  }

  .status-success {
    color: green;
  }

  .status-error {
    color: red;
  }

  .header-item {
    margin-bottom: 5px;
  }
}